
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<title>The Joel Hilton Film Collection</title>

<center>
    <h1> Welcome To The Joel Hilton Film Collection. </h1>
    <br />
    <br />

    <img src="img/JoelHiltonHeadshot.jpg" />
</center>