
@{
    ViewData["Title"] = "My Podcasts";
}
<h1> I also make a sweet Podcast about movies! Check out the link below for some great info on movies and more!</h1>

<a href="https://baconsale.com/">Click to go to my podcast!</a>
